/* テーブル本体 */
@media screen and (max-width: 768px) {
  .membertable{
    /* margin: 10px 5px; */
    width: auto;
    height: auto;
  }

  .membertable th,
  .membertable td{
    /* padding: 10px; */
    border-bottom: none;
    /* vertical-align: middle; */
    display: block;
    width: 100%;
    /* margin: px; */
    text-align: center;
    /* vertical-align: middle; */
  }
  .membertable ul{
    display: none;
  }
}

.membertable {
  width: 100%;
}

.membertable table{
  width: 100%;
  border-collapse: separate;
}


/* 各個人の自己紹介 */
img.member-img {
  border-radius:50%;
  width:150px;
  height:150px;
  text-align: left;
  margin: 10px;
}

.self-table th,
.self-table td {
  color: #000000;
  padding: 0 0;
  text-align: left;
}

h1.self-name {
  font-size: larger;
  margin-bottom: 3px;
}

td.self-contents-title {
  width: 10em;
  font-size: medium;
  margin-top: 10px;
}
td.self-contents-title:before {
  content: "<";
}
td.self-contents-title:after {
  content: ">";
}

td.self-contents {
  margin-bottom: 0;
  word-break: keep-all;
}

/* 卒業生 */
/* span は行内の数文字に対して特殊な処理をしたいときに利用 */
span.award-name {
  color: #000000;
  font-size: 15px;
  font-weight: 100;
}